@import url("./styles/reset.css");
@import url("./styles/typography.css");

:root {
  --main-color: #000;
  --subtitle-color: #555;
  /* --highlight-color: ; */
  /* --accent-color: ; */
  --primary-bg-color: #ffc;
  --secondary-bg-color: #ff9;
}

/* html { */
/* } */

body {
  background-color: var(--primary-bg-color);
  color: var(--main-color);
  overflow: scroll;
  overflow-x: hidden;
  padding: 2em;
}

p {
  font-size: 24px;
  text-wrap: pretty;
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.site {
  display: flex;
}

.hero {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 95vh;
  padding: 5em;
  justify-content: center;
  flex-basis: 45em;
}

#hero-name {
  font-size: 64px;
  font-weight: 700;
}

.hero-nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hero-nav > .nav {
  color: var(--main-color);
  font-size: 32px;
  text-decoration: none;
}

.arrow {
  font: inherit;
  font-weight: 700;
  margin: 0 0.25em 0 0;
  opacity: 0;
}

.nav:hover .arrow {
  opacity: 100;
}

@media (prefers-reduced-motion: no-preference) {
  .nav:hover .arrow {
    transition: opacity 0.1s;
    opacity: 100;
  }
}

.hero p {
  margin: 3em 0;
  color: var(--subtitle-color);
}

.temporary {
  font: inherit;
}

.temporary a {
  font: inherit;
  text-decoration: none;
}

.main {
  margin: 0 0 0 45em;
  padding: 5em;
  flex-grow: 1;
}

.main h3 {
  font-weight: 700;
  padding: 0 0 1em 0;
}

.about-me p {
  width: 50ch;
}

.container {
  margin: 2em 0;
  padding: 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project.code {
  /* border: solid 1px black; */
  background: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  width: 45%;
  word-wrap: wrap;
  border-radius: 1em;
}

.project.code img {
  border-radius: 1em 1em 0 0;
}

.project.code .project-text {
  padding: 1em;
  /* padding: 1em 1em 0.5em 1em; */
}

.project.code .project-text h4 {
  font-weight: 700;
}

.project.art {
  margin: 0 0 2em 0;
}

.project.art img {
  width: 75%;
  margin: 0 0 0.25em 0;
}

.musics {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.project.music {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1em;
  background-color: var(--secondary-bg-color);
}

.project.music img {
  width: 100%;
  border-radius: 1em;
}

.project.music audio {
  border-radius: 0 0 1em 1em;
  width: 100%;
}

.project.music .music-main {
  display: flex;
  flex-direction: column;
}

.project.music .music-text {
  padding: 1em 1em 0 1em;
}

.project.music .music-text h4 {
  font-weight: 700;
}
